modules = ["rust-stable", "swift-5.8"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && SERVER_PORT=3000 cargo run --release"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
deploymentTarget = "vm"
run = ["bash", "-c", "cd server && SERVER_PORT=3000 ./target/release/server"]
build = ["cargo", "build", "--release", "--manifest-path", "server/Cargo.toml"]
